.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.95),
    rgba(0,0,0,0.85)
  );
  backdrop-filter: blur(8px);

  color: white;
  z-index: 100;
}

.brand {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

/* .title {
  font-family: "Snell Roundhand", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #d32f2f;
} */


.brand img {
  width: 40px;
  margin-left: 12px;
}

.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  position: relative;
}

.nav a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -6px;
}
